.row {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row:hover {
    background-color: #d8f4f5;
}
.row-title {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    overflow: auto;
}
.row-check {
    display: flex;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #74a563;
}
.row-checkActive {
    background-color: #7ee95b;
    color: black;
}
.row-delete {
    display: flex;
    justify-content: center;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #bf5351;
}
